DB_CONNECTION= # koks db jungimas pvz - mysql
DB_HOST= # db serveris pvz- localhost
DB_NAME= # Parašyti norimos db vardą, šiuo atveju php_projektas
DB_USER= # Prisijungimo duomenys, dažniausiai būna root
DB_PASS= # palikti tuščią prisijungimo slaptažodį
